:root {
    --grid-gap: 10px;
}

#charSheetBody {
    margin-bottom: 20px;
}

#charSheetControls {
    h2 {
        margin-top: 0;
    }
    
    input {
        scale: 125%;
        vertical-align: text-bottom;
    }

    label {
        font-size: 1.25em;

        padding-left: 2px;
    }
}

.visibilityToggle {
    user-select: none;
}

#charSheetFormWrapper {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

#charSheetForm {
    display: grid;
    grid-template-areas:
        "header"
        "charDetails";
    grid-template-rows: auto 1fr;

    aspect-ratio: 8.5 / 11;
    height: auto;

    background-color: white;
    color: black;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
/* 
    div {
        margin: 0;
    } */
}

#charSheetHeader {
    grid-area: header;
    
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    transition: margin 1s ease-in-out;
}

.collapsedGridItem {
    visibility: hidden !important;
    margin: auto !important;
}

#charDetails {
    grid-area: charDetails;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: repeat(3, 0.1fr); /* make rows take minimum space possible */
    gap: var(--grid-gap);

    width: 90%;

    justify-self: center;

    .inputDiv {
        width: 100%;

        input {
            width: 100%;
            height: 50%;
            
            border: none;
            border-bottom: 1px solid black;
            
            font-size: large;
            padding: 0;
        }

        input:focus {
            outline: none;
        }

        label {
            display: block;
            
            margin-top: 5px;
            text-transform: uppercase;
        }
    }
}

#charDetailsL, #charDetailsR {
    display: grid;
}

#charDetailsL {
    grid-template-areas:
        "charName charName"
        "bg classAndLevel"
        "species subclass";
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);

    #characterName { grid-area: charName; }
    #background { grid-area: bg; }
    #classAndLevel { grid-area: classAndLevel; }
    #species { grid-area: species; }
    #subclass { grid-area: subclass; }
}

#charDetailsR {
    display: grid;
    grid-template-areas:
        "age height weight"
        "eyes hair skin"
        "distFeatures distFeatures distFeatures";
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap);

    #age { grid-area: age; }
    #height { grid-area: height; }
    #weight { grid-area: weight; }
    #eyes { grid-area: eyes; }
    #hair { grid-area: hair; }
    #skin { grid-area: skin; }
    #distinguishingFeatures { grid-area: distFeatures; }
}

#iconAndLevel {
    width: 100px;
    
    #classIcon {
        position: relative;
        aspect-ratio: 1/1;
        
        cursor: pointer; /* indicate that it's clickable */
    }

    #level {
        
    }
}

.floaty {
    transition-property: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.floaty:hover {
    transform: translate(0, -5%);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 15px;
}