/* Mona Sans open source font from GitHub */
@font-face {
    font-family: 'Mona Sans';
    src: url('fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    /* font-stretch: 75% 125%; */
}

#introdiv {
    display: grid;
    align-items: top;
    vertical-align: text-top;
    grid-template-columns: 1fr 1fr;
}

/* everything below here is a mess. fix it pls. */

#intro {
    font-size: 1.3em;
}

#nikki {
    width: 50%;
    overflow: none;
}

.video {
    width: 50%;
    aspect-ratio: 16 / 9;
}

.bigger {
    font-size: 1.2em;
}

.big {
    font-size: 1.1em;
}

body {
    font-family: 'Mona Sans';
    font-size: 1.1em;
}

