/* Load Mona Sans open source font from GitHub */
@font-face {
  font-family: 'Mona Sans';
  src:
      url('../../fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('../../fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 700 100;
}

body {
  background-color: #303031;
  font-family: 'Mona Sans', sans-serif;
  color: white;
}

/* Format Links */
a:link, a:visited {
  text-decoration: none;
  color: #38a6ff;
}

a:hover {
  text-decoration: underline;
}