#body-wrapper {
    margin-top: 30px;
}

/* Search Filter */
#filters {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}

#filters td, #filters th {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-collapse: collapse;
    padding-right: 10px;
}

#filters th {
    padding-left: 5px;
    font-size: 18px
}

/* TODO: Can we do this without !important? */
.hidden {
    display: none !important;
}

/* Responsive layout for projects, 1-2-3 tile */
.project {
    width: 100%;
}
@media screen and (min-width: 901px) {
    /* Projects tiled on bigger screens */
    .project {
        width: 48%;
        margin-right: 2%;
        display: inline-block;
        vertical-align: top;
    }
}


@media screen and (min-width: 1200px) {
    /* Projects tiled MORE on biggest screens */
    .project {
        width: 31%;
        margin-right: 2%;
        display: inline-block;
        vertical-align: top;
    }
}

/* 
<div>
    <label for="visibility">Visibility:</label>
    <div class="custom-select">
        <select id="visibility">
            <option value="all" selected>All</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
    </div>

    <label for="type">Type:</label>
    <div class="custom-select">
        <select id="type">
            <option value="all" selected>All</option>
            <option value="game">Game</option>
            <option value="software">Software</option>
        </select>
    </div>

    <label for="scope">Scope:</label>
    <div class="custom-select">
        <select id="scope">
            <option value="all" selected>All</option>
            <option value="school">School</option>
            <option value="personal">Personal</option>
            <option value="open-source">Open Source</option>
        </select>
    </div>
</div>
*/

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    appearance: none; /* Hide the original select for custom display */
    padding: 8px 15px 8px 10px;
    border: 1px solid #757579;
    border-radius: 5px;
    background-color: #4e4e50;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: bold;
}