#body-wrapper {
    margin-top: 30px;
}

/* Search Filter */
#filters {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}

#filters td, #filters th {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-collapse: collapse;
    padding-right: 10px;
}

#filters th {
    padding-left: 5px;
    font-size: 18px
}

/* 
<div>
    <label for="visibility">Visibility:</label>
    <div class="custom-select">
        <select id="visibility">
            <option value="all" selected>All</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
    </div>

    <label for="type">Type:</label>
    <div class="custom-select">
        <select id="type">
            <option value="all" selected>All</option>
            <option value="game">Game</option>
            <option value="software">Software</option>
        </select>
    </div>

    <label for="scope">Scope:</label>
    <div class="custom-select">
        <select id="scope">
            <option value="all" selected>All</option>
            <option value="school">School</option>
            <option value="personal">Personal</option>
            <option value="open-source">Open Source</option>
        </select>
    </div>
</div>
*/

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    appearance: none; /* Hide the original select for custom display */
    padding: 8px 15px 8px 10px;
    border: 1px solid #757579;
    border-radius: 5px;
    background-color: #4e4e50;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: bold;
}