#body-wrapper {
    margin-top: 30px;
}

/* Search Filter */
#filters {
    border-collapse: collapse;
    width: 100%;
    border: none;
    font-size: 20px;

    background-color: #343438;
}

#filtersContainer {
    border: 3px solid white;
    border-radius: 20px;
    text-align: left;
    width: 600px;

    margin: 10px auto;
    overflow: hidden;
}

#filters td, #filters th {
    border-left: 2px solid white;
    border-right: 2px solid white;
    
    padding-top: 5px;
    padding-left: 5px;
}

#filters td {
    vertical-align: text-top;
    padding-bottom: 10px;
}

#filters th {
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px;
}

.searchLabel {
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
}

.searchDiv {
    display: block;
    margin: 0px auto 20px auto;
    text-align: center;
}

#search {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

/* TODO: Can we do this without !important? */
.hidden {
    display: none !important;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

}

/* Responsive layout for projects, 1-2-3 tile */
.project {
    flex: 0 1 calc(100% - 1em);
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    padding: 15px;

    border: 2px solid white;
    background-color: #343438;
    border-radius: 25px;
}

@media screen and (min-width: 901px) {
    .project {
        flex: 0 1 calc(48% - 2em);
    }
}

@media screen and (min-width: 1200px) {
    .project {
        flex: 0 1 calc(31% - 2em);
    }
}

@media screen and (min-width: 2500px) {
    .project {
        flex: 0 1 calc(23% - 2em);
    }
}

.title {
    display: inline;
}

.scope {
    display: inline;
    font-size: 16px;
}

/* fixes spacing issues */
.title, .scope {
    margin: 0;
    padding: 0;
}

.projDetails {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.shortDesc {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}

.custom-select select {
    appearance: none; /* Hide the original select for custom display */
    padding: 8px 15px 8px 10px;
    border: 1px solid #757579;
    border-radius: 5px;
    background-color: #4e4e50;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-weight: bold;
}